.classesContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.classesContainer h1 {
  color: white;
}

.imgContainer {
  margin: 10px auto;
  display: grid;
  width: 80%;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  /* grid-template-rows: repeat(auto-fit,minmax(300px,1fr)); */
}
.imgContainer img {
  width: 200px;
  height: 300px;
}

.iconList {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
  justify-items: center;
  align-items: center;
  margin: 10px auto;
}

.ldsellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
