.classesContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.classesContainer h1 {
  color: white;
  margin: 30px auto;
  letter-spacing: 3px;
  text-transform: uppercase;
  border: 5px solid white;
  padding: 15px 25px;
}

.imgContainer {
  margin: 10px auto;
  display: grid;
  width: 80%;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  /* grid-template-rows: repeat(auto-fit,minmax(300px,1fr)); */
}
.imgContainer img {
  width: 200px;
  height: 300px;
}


.iconList {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
  justify-items: center;
  align-items: center;
  margin: 10px auto;
}

.icon {
  list-style: none;
  font-size: 16px;
  color: white;
  background-color: #2c2c54;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s;
}

.icon:hover {
  transform: translateY(-3px);
}

.icon:active,
.icon:visited,
.active {
  background-color: #218c74;
}



 
.ldsellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}