
.icon {
  list-style: none;
  font-size: 16px;
  color: white;
  background-color: #2c2c54;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform .3s;
}

.icon:hover {
  transform: translateY(-3px);
}

.icon:active,
.icon:visited,
.active {
  background-color: orange;
}