.main {
  min-height: 100vh;
  
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../assets/background.jpg');
  background-position: center 10%;
  background-size: cover;
  background-repeat: no-repeat;

}