.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}


.container p {
  /* fontWeight: 'bold', color: '#ffffff', fontSize: '20px', textAlign: 'center'; */
  font-weight: bold;
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 15px 25px;
  background-color: rgba(3, 3, 3, 0.5);
}
.inputField {
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 30px 15px 5px;
  font-size: 20px;
  border: none;
  background: none;
  border-bottom: 3px solid white;
}

.inputField::placeholder {
  color: white;
  font-size: 20px;
  font-weight: bold;
  
}

.inputField:focus {
  outline: black;
}

#inputFieldIcon {
  height: 20px;
  width: 20px;
  font-size: 20px;
  margin-left: -35px;
  color: #333;
}
